/* p{
    position: static;
} */

div{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: aqua;
    border: 1px solid black;
}

.bhawar{
    width: 100vw;
    height: 2000px;
    background-color: yellow;
}
#box3{
    position:relative;
    left:20px;
    top:100px;
}
/* #box3{
    position:absolute;
    left:20px;
    top:100px;
} */
/* #box1{
    position: fixed;
} */
#box1{
    position: sticky;
    top: 0px;
}