div{
    height: 100px;
    width: 100px;  /* 100px = 2.65cm */
    background-color: yellowgreen;
    border:1px solid black;
}

.translate{
    transform: perspective(10px) translateZ(-10px);
}
.scaled{
    margin-left: 200px;
    transform: perspective(300px) scaleZ(3) rotateX(40deg) rotateY(30deg);
}